html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: white;
  }

  body {
    height: 100vh;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

.header {
  background-color: white;
  box-shadow: 5px 5px 5px hsl(30, 2%, 76%);
  padding: 1.5em;
  z-index: 1;

}

.top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: black;
}

.search-bar {
  display: flex;
  gap: 1em;
  margin: .5em 0 0 1em;
}

label {
  color: black;
  padding: 1em;
  background-image: url(image/magnify.svg);
  background-repeat: no-repeat;
}

input {
  background-color: lightgrey;
  color: black;
  width: 80%;
  height: 2em;
  border-radius: 1em;
  padding: 1em;
  
}

.account {
  display: flex;
  justify-content: flex-end;
  gap: .5em;
  margin-right: 1em;
  white-space: nowrap;
}

.bell {
  background-image: url(image/bell.svg);
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  margin-top: 12px;
  display: flex;
  margin-right: 20px;
}

.profile {
  color: black;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 10px;
}

.profile-picture {
  background :url(image/face-man-profile.svg);
  width: 30px;
  height: 2em;
  margin-top: 10px;
  background-repeat: no-repeat;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.heading-picture {
  background :url(image/face-man-profile.svg);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.user-content {
    display: flex;
    margin-left: .75em;
}

.user-info {
    margin-top: 8px;
}

.user1 {
    font-weight: 900;
}

.user2 {
    font-size: 1.5rem;
    font-weight: 900;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header > *,
.user1,
.user2,
.buttons {
  color: black;
}


.btn {
  background: #1dbdf2;
  padding: 0.5em 3em;
  border-radius: 25px;
  border: none;
  height: 2.5em;
}

.sidebar {
    display: grid;
    grid-row: 1 / 3;
    background-color: #1dbdf2;
  }

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1em 2em;
  background-color: #e7e5e4;
}

.projectCards {
  background-color: rgb(51, 101, 152);
  background-color: #e7e5e4;
}

.projectCards h3 {
  margin: 0 0 1em 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  padding: 0 2em 2em 0;

}

.card {
  background-color: white;
  border-left: 7px solid blue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 5px hsl(30, 2%, 76%);
  padding: 1em;
}

.rightside {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}

.wrapper {
  background-color: white;
  border-left: 7px solid blue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 5px hsl(30, 2%, 76%);
  padding: 1em;
}

/* .announcements,
.trending {
  display: flex;
  flex-direction: column;
} */

.title,
p {
  color: rgb(47, 42, 42);
}

h3,
h5,
h6 {
  color: black;
}

h3 {
  margin: 0 0 1em 0;
}

/* .trending {
  grid-template-rows: 2 / 3;
} */

/* .announcements {
  grid-template-rows: 1 / 2;
} */

