html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: white;
  }

  body {
    height: 100vh;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .sidebar {
    display: grid;
    grid-row: 1 / 3;
    background-color: lightseagreen;
    height: 100vh;
  }

.header {
  background-color: white;
  margin: 1em;
  display: grid;
}

.top {
  display: grid;
  grid-template-columns: 1fr max-content;
  color: black;
}

.search-bar {
  display: flex;
  gap: 1em;
  margin-top: .75em;
}

label {
  color: black;
  padding: 1em;
  background-image: url(image/magnify.svg);
  background-repeat: no-repeat;
}

input {
  background-color: lightgrey;
  color: black;
  width: 80%;
  height: 2em;
  border-radius: 1em;
  padding: 1em;
  
}

.account {
  display: flex;
  gap: 1.5em;
  justify-content: center;
}

.bell {
  background-image: url(image/bell.svg);
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  margin-top: 12px;
}

.profile {
  color: black;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 10px;
}

.profile-picture {
  background :url(image/face-man-profile.svg);
  width: 50px;
  height: 2em;
  margin-top: 10px;
  background-repeat: no-repeat;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bottom .user-content .yessir {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.header > *,
.user1,
.user2,
.user3 {
  color: black;
}


button {
  background: #1dbdf2;
  padding: .5em;
  width: 7.5em;
  border-radius: 15px;
}

.projectCards {
  background-color: rgb(51, 101, 152);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
}

.card {
  border: 2px solid black;
}

.title,
p {
  color: black;
}
